.file-list {
  overflow: hidden;
  height: 100%;

  .title {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;
  }

  .files-area {
    overflow: auto;
    padding: 5px;
    height: 82%;


    .group {
      display: grid;
      grid-template-columns: repeat(auto-fit, 250px);
      grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    .keywords {
      display: flex;
      align-items: center;
      width: 22%;
    }
  }
}