.link {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .operation-buttons {
      margin-bottom: 20px;
    }

    .main-area {
      .anchor {
        position: fixed;
        width: 100px;
      }

      .part-item-container {
        margin-left: 100px;
      }
    }

  }
}